.heading h1{
 text-align: center;
}

body {
 font-family: sans-serif;
 
}

circle {
 fill: white;
 stroke: steelblue;
}

.revYear {
 fill: crimson;
 position: relative;
 z-index: 3;
}

.addnlRevYear{
  fill: orange;
}

.bio {
 display:inline-block;
 float:left;
 width: 15%;
 text-align: left;
}

.bio h3{
 margin: 0px;
 text-align: center;
}

.bio h4{
 margin-top: 0px;
}

svg {
 display:inline-block;
 padding-left : 20px;
}

path {
 position: relative;
 z-index: 1;
}

.tooltip {	
 position: absolute;			
 text-align: center;			
 width: 60px;					
 height: 28px;					
 padding: 2px;				
 font: 12px sans-serif;		
 background: lightsteelblue;	
 border: 0px;		
 border-radius: 8px;			
 pointer-events: none;			
}