body{
    font-family: 'Raleway', sans-serif;
    background-color: rgba(185,185,185,0.25);
    /*font-family: ProximaNova,sans-serif;*/
    letter-spacing: .5px;
}

p{
    margin-bottom: 0;
}

text.countryCode{
    font-size: smaller;
}

.container{
    padding-top: 2em;
    padding-bottom: 2em;
}

select{
    border: none;
    background-color: transparent;
    margin-right: 2em;
}

#scaleSelect {
    margin: 0.5rem;
}

div.plot{
    min-width: 600px;
    max-height: 800px;
    position: relative;
}

.country{
    display: inline-block;
    opacity: .6;
    transition-property: height, left, top;
    transition-duration: 1000ms;
}

.country:hover, .hover{
    opacity: 1;
}

.countryCode{
    fill: black;
}

.crop:hover{
    border-width: 2px;
    border-color: #fefefe;
    border-style: solid;
}

.row {
    padding-bottom: 1em;
}

.ghost{
    fill: lightGray;
    z-index: 1;
}

.ghost.active, circle.hover{
    fill: gray;
}

div.tooltip {
    position: absolute;
    text-align: left;
    font: 12px sans-serif;
    background: #fefefe;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    padding: 1em;
}

.label{
    position: absolute;
}

.crop{
    background-image: url('cereal.jpg');
    background-size: 100px;
    transition: height 1000ms;
}

.Sugarcane{
    background-image: url('sugarcane-1.jpg');
    background-size: 200px;
}

.Cassava{
    background-image: url('cassava.jpg');
    background-size: 200px;
}

.Rice{
    background-image: url('RicePaddy.jpg');
}

.Rootsandtubers{
    background-image: url('rootsTubers.jpg');
    background-size: 200px;
}

.Maize{
    background-image: url('maize.jpg');
    background-size: 150px;
}

.Coconuts{
    background-image: url('coconuts.jpg');
    background-size: 150px;
}

.Bananas {
    background-image: url('bananas.jpg');
    background-size: 100px;
}

.Millet, .Barley {
    background-image: url('millet.jpg');
    background-size: 200px;
}

.Yams, .Sweetpotatoes{
    background-image: url('yams.jpg');
    background-size: 150px;
}

.Plantainsandothers {
    background-image: url('plantains.jpg');
    background-size: 150px;
}

.Sorghum {
    background-image: url('sorghum.jpg');
    background-size: 500px;
}

.Cereals, .Fonio {
    background-image: url('cereal.jpg');
    background-size: 100px;
}

.Groundnuts, .Sunflowerseed {
    background-image: url('groundnuts.jpg');
    background-size: 80px;
}

.Tomatoes {
    background-image: url('tomatos.jpg');
    background-size: 100px;
}

.Cashewnuts {
    background-image: url('cashew-seed.jpg');
    background-size: 200px;
}

.Potatoes {
    background-image: url('potatoes.jpg');
    background-size: 100px;
}

.Vegetables {
    background-image: url('Vegetables.jpg');
    background-size: 100px;
}

.Oil {
    background-image: url('oil.jpg');
    background-size: 100px;
}

.Onions {
    background-image: url('onion.jpg');
    background-size: 100px;
}

.Taro {
    background-image: url('taro.jpg');
    background-size: 200px;
}

.Cabbagesandotherbrassicas {
    background-image: url('cabbage.jpg');
    background-size: 200px;
}

.Cowpeas, .Peas, .Beans, .Pulses {
    background-image: url('cowpea.jpg');
    background-size: 80px;
}

.Mangoes, .Fruit, .Oranges, .Apples, .Watermelons, .Grapes, .Pineapples {
    background-image: url('mango.jpg');
    background-size: 100px;
}

.Dates {
    background-image: url('dates.jpg');
    background-size: 100px;
}

.Wheat {
    background-image: url('wheat.jpg');
    background-size: 100px;
}

.Seedcotton, .Cottonseed  {
    background-image: url('cotton.jpg');
    background-size: 100px;
}

.Cocoa, .Coffee, .Cottonlint {
    background-image: url('cocoa.jpg');
    background-size: 100px;
}

.Rubber {
    background-image: url('rubber.jpg');
    background-size: 200px;
}